body 
{
    color: deeppink;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#container {
 color: gray;
 text-align: center;
 padding: 1em;
 border: 1 px solid red  ;
 margin: 0 auto;
 
}
#frame {
    align-self: center;
    height: 400px;
    width: 600px;
    border: 1px solid black;
    border-radius: 10%;
}